.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.vh-95 {
  height: 95vh !important;
}

/* .chat-height {
  height: calc(100% - 20vh) !important;
} */

.chat-message-left {
  margin-right: auto;
}

.chat-message-left,
.chat-message-right {
  display: flex;
  flex-shrink: 0;
}

.chat-message-right {
  margin-left: auto;
  flex-direction: row-reverse;
}

.chat-window {
  z-index: 100;
  height: 100%;
  overflow: hidden;
}

.chat-input {
  position: sticky;
  bottom: 0;
}

.styles_scrollable-div__prSCv {
  max-height: calc(100% - 2px) !important;
  height: calc(100% - 2px) !important;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}